@model EntityLayer.Concrete.PetPost
@{
    ViewData["Title"] = "PostDetails";
    Layout = "~/Views/Shared/Layouts/_AdminLayout.cshtml";
}

<h4>İlan Detayları</h4>


<div class="container">
    <div class="row">
        <div class="col-6">
            <img src="@Model.ImageUrl"/>
        </div>
      <div class="col-6">
            <br /> <br /> <br /> <br /> <br /> <br /> <br />
            <a href="/Admin/Complains/ActivePost/@Model.PetPostId" class="btn btn-outline-primary">Aktif Yap</a>
            <a href="/Admin/Complains/PassivePost/@Model.PetPostId" class="btn btn-outline-secondary">Pasif Yap</a>
      </div>
    </div>
    <div class="row">
        <div class="col-12">
            <table class="table tabtable-bordered">
                <tr>
                    <th>İsim</th>
                    <th>Telefon</th>
                    <th>Başlık</th>
                    <th>Açıklama</th>
                    <th>Tarih</th>
                    <th>Kategori</th>
                    <th>Tür</th>
                    <th>Cins</th>
                    <th>Şehir</th>
                    <th>Durum</th>

                </tr>
                <tr>
                    <td>@Model.Name</td>
                    <td>@Model.PhoneNumber</td>
                    <td>@Model.Title</td>
                    <td>@Model.Description</td>
                    <td>@Model.PostTime.ToString("dd-MMM-yyyy")</td>
                    <td>@Model.Category.CategoryName</td>
                    <td>@Model.PetType.PetTypeName</td>
                    <td>@Model.PetBreed.PetBreedName</td>
                    <td>@Model.City.CityName</td>
                    <td>@Model.Status</td>

                </tr>
            </table>

        </div>
    </div>
</div>